<div class="log-card col-xs-12 col-sm-6 col-md-3">
  {{#link-to 'log' log}}<h4 class="log-card-title">{{log.dateTime}} - {{log.location}}</h4>{{/link-to}}
  <p class="logs-view">Feels Like Temperature: {{log.feelsLike}}&deg;</p>
  <p class="logs-view">Weather Conditions: {{log.weatherConditions}}</p>
  <p class="logs-view">Activity Level: {{log.activityLevel}}</p>
  <p class="logs-view">Comfort Level: {{log.comfortLevel}}</p>
</div>
