{{!-- TODO LOOK INTO REQUIRED FIELDS, right now they are allowing edit to delete prior detail and lets you save with no issues but it should error and tell user to fill out required fields TODO --}}
<form class="form-group" {{action 'save' on='submit'}}>
  Location: *{{input class="form-control" value=log.location}}
  Temperature: {{input class="form-control" value=log.temp}}
  Feels Like Temperature: *{{input class="form-control" value=log.feelsLike}}
  Weather Conditions: *{{input class="form-control" value=log.weatherConditions}}
  Bottom Layers: {{input class="form-control" value=log.bottomLayers}}
  Top Layers: {{input class="form-control" value=log.topLayers}}
  Accessories: {{input class="form-control" value=log.accessories}}
  Activity Level: *{{input class="form-control" value=log.activityLevel}}
  <br>1 = No activity (e.g. waiting in line or sitting)
  <br>2 = Light Activity (e.g. light walking)
  <br>3 = Moderate Activity (e.g. quick pace)
  <br>4 = High Activity (e.g. jogging, hiking with no pack)
  <br>5 = Very High Activity (e.g. running, hiking with pack)
  <br>
  <br>
  Comfort Level: *{{input class="form-control" value=log.comfortLevel}}
  <br>1 = felt Cold
  <br>2 = felt Chilly
  <br>3 = felt Just Right
  <br>4 = felt Warm
  <br>5 = felt Hot
  <br>
  <br>
  <button class="btn btn-warning btn-xs" type="submit">Save</button>
</form>
<p>* required field</p>

<button class="btn btn-xs btn-danger" {{action 'cancel'}}>Cancel</button>
<br>
<br>
